<!DOCTYPE html>
<html ng-app="DailyTracker">
<head>
  <meta http-equiv=”Pragma” content=”no-cache”>
  <meta http-equiv=”Expires” content=”-1″>
  <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>

  <title>DailyTracker</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

  <!-- My files -->
  <link rel="stylesheet" href="style.css">

  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <script async defer src="https://apis.google.com/js/api.js"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>

  <script src="script.js?v1" type="text/javascript"></script>
  <script src="mainService.js?v5" type="text/javascript"></script>
</head>

<body ng-controller="mainCtrl">
  <nav class="navbar navbar-inverse navbar-static-top" ng-hide="!initiatePage.data.signedIn">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DailyTracker</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <button class="btn btn-danger navbar-btn" id="signout-button" style="display: none;">Sign Out</button>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="page-wrapper">



      <div id="introduction" ng-hide="initiatePage.data.signedIn">
        <div class="jumbotron">

          <h1>DailyTracker</h1>
          <p>Welcome! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in augue porttitor, pretium lacus a, blandit nisl. Phasellus vitae vestibulum dui. Praesent sed leo sit amet nisl pharetra aliquet eget ac est. Mauris eu dui sit amet orci lobortis maximus. Morbi vel tincidunt est, et cursus lacus. Ut nec turpis fermentum mi sodales bibendum. Proin tempor suscipit est vel dignissim. Fusce condimentum nibh lorem, ut tempus velit sodales eu. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>

        <div class="row">
          <div class="col-md-10 col-lg-10">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="authorize-button" style="display: none;">Authorize</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="signedIn" ng-hide="!initiatePage.data.signedIn">
    <!--<button type="button" class="btn btn-primary" id="signout-button" style="display: none;">Sign Out</button>-->
    <button type="button" class="btn btn-primary" onclick="addNewItem()">Add Item</button>
    <pre id="content"></pre>

    <div class="col-sm-4 col-md-4 col-lg-4 nopadding">
      <div class="panel panel-default" id="today">
        <div class="panel-heading">
          <h3 class="panel-title">Today</h3>
        </div>
        <div class="panel-body">
          <div>
            <div class="hours">
              <div  ng-repeat="halfHour in handleHours.data.hours track by $index">
                <div class="label">{{halfHour.hour+":"+halfHour.min}} {{halfHour.am ? "AM":"PM"}}</div>
                <input class="hourInput" type="text" value="{{halfHour.task}}" ng-model="halfHour.task" ng-blur="handleHours.functions.addHour(halfHour.id)">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
