body{
    background-color: #CAC2B5 !important;
    color: #fff;
    padding: 0;
    margin: 0;
}

.jumbotron{
  background-color: #212a34 !important;
}

.page-wrapper{
  padding: 0;
  margin: 0;
  width:100% !important;
  height:100% !important;
  background-color:pink;
}

.container{
    width:100% !important;
    height:100% !important;
    background-color: purple !important;
}

.container-fluid{
  padding: 0;
  margin: 0;
  width:100% !important;
  height:100% !important;
  background-color: blue !important;
}
