body{
  background-color: #212A34 !important;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron{
  background-color: #212a34 !important;
}

.page-wrapper{
  padding: 0;
  margin: 0 auto !important;
  width:95% !important;
  max-width: 1400px;
  height:100% !important;
  min-height: 800px;
}

#signedIn{
  margin: 0 auto !important;
  width: 100%;
  /*width: 1000px !important;*/
}

.container{
  width:100% !important;
  height:100% !important;
}

.container-fluid{
  padding: 0;
  margin: 0;
  width:100% !important;
  height:100% !important;
}

//hours
#today{
}

.panel{
  width: 100% !important;
  min-width: 300px;
}

.panel-heading{
  height: 40px !important;
}

.header-icon{
  color: #fff !important;
}


.hours{
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: block;
}

.hours .label{
  float: left;
  color: #989898 !important;
  min-width: 60px !important;
  width: 10%;
  text-align: right;
  height: 18px !important;
  vertical-align: middle !important;
  padding-top: 7px;
}

.hours.hourInput{
  float: right;
}

.panel-default > .panel-heading {
  color: #d7d7d7;
  background-color: #542344 !important;
  border-color: #542344;
}

.hours input{
  border: 0px !important;
  padding: 0px !important;
  height: 26px !important;
  font-size:18px !important;
  border-bottom: 1px solid #dcdcdc !important;
  color: #525252 !important;
  font-family: 'Indie Flower', cursive !important;
  width: 78%;
  min-width: 200px;
}

.hours input:focus{
  outline:0 !important;
  outline-width: 0 !important;
}


/*** YEAR PAGE***/
.month-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 height: 100%;
 margin: auto;
}

.planner-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 height: 400px;
 margin: auto;
}

.month-item{
    background-color: #3b7fbe;
    background: -webkit-linear-gradient(left top, #399292, #356da2, #544e9c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #399292, #356da2, #544e9c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #399292, #356da2, #544e9c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #399292, #356da2, #544e9c);
    width: 20%;
    min-width: 250px;
    height: 330px;
    margin: 10px;
    border-radius: 10px;
}

.planner-item{
  background-color: #F68986;
  background: -webkit-linear-gradient(left top, #c33b8b, #ca6c79, #cf9e63); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c33b8b,#ca6c79, #cf9e63);
  width: 100%;
  min-width: 300px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
}


.item-header{
  height: 30px;
  background:transparent;
  text-align: center;
  padding-top: 5px;
  border-radius: 10px;
  color:#3f306d;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-size: 22px;
  font-weight: 600;
}

.planner-item .item-header{
  color:#611d45;
}

.item-body{
  height: 260px;
  background:transparent;
  padding: 10px;
}
.input-row{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  height: 30px;
}

.del{
  width: 10%;
  min-width: 20px;
  float:right;
  height: 30px;
  padding-top: 5px;
  text-align: left;
}

.checkboxAndInput{
  float: left;
  width: 90% !important;
  height: 30px;
}

input.textBox{
  width: 92% !important;
  background: transparent;
  border: 0px;
  border-bottom: 1px dashed #fec76c;
  float:left;
  height: 30px;
  margin-left: 5px;
}

.planner-item input.textBox{
  width: 93% !important;
}

input.checkbox{
  width: 5% !important;
  min-width: 10px;
  background: transparent;
  float:left;
  height: 20px;
  margin: 5px auto !important;
}

input:focus{
  outline:0 !important;
  outline-width: 0 !important;
}

.item-footer{
  background: #fff;
  height: 40px;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
