body{
  background-color: #212A34 !important;
  background: -webkit-radial-gradient(#1B3B6F, #212A34); /* Safari 5.1 to 6.0 */
 background: -o-radial-gradient(#1B3B6F, #212A34); /* For Opera 11.6 to 12.0 */
 background: -moz-radial-gradient(#1B3B6F, #212A34); /* For Firefox 3.6 to 15 */
 background: radial-gradient(#1B3B6F, #212A34);
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body a{
  color: #2D3047;
  font-weight: 700;
}

body b{
  color: #2D3047;
  font-weight: 700;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.6);
}

.jumbotron{
  background-color: #137d89;
  width: 100% !important;

}

.page-wrapper{
  padding: 0;
  margin: 0 auto !important;
  width:100% !important;
  max-width: 1500px;
  height:100% !important;
  min-height: 800px;
}

#signedIn{
  margin: 0 auto !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 1500px !important;
}

.container{
  width:100% !important;
  height:100% !important;
}

.container-fluid{
  padding: 0;
  margin: 0;
  width:100% !important;
  height:100% !important;
}

.fa-plus-square {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.header-icon{
  color: #fff !important;
}


.hours{
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: block;
}

.hours .label{
  float: left;
  color: #fff !important;
  width: 20%;
  min-width: 65px !important;
  text-align: right;
  height: 35px !important;
  vertical-align: middle !important;
  padding-top: 13px;
  font-size: 13px;
  font-weight: 600 !important;
}

.hours.hourInput{
  float: right;
}


.hours input{
  border: 0px !important;
  padding: 0px !important;
  height: 35px !important;
  font-size:18px !important;
  border: 1px dashed #dcdcdc !important;
  color: #fff !important;
  font-family: 'Indie Flower', cursive !important;
  width: 78%;
  min-width: 180px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.hours input:focus{
  outline:0 !important;
  outline-width: 0 !important;
}

.today-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 height: 100%;
 width: 39%;
 min-width: 330px;
 float: left;
 padding: 0px;
}

.planning-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 height: 100%;
 width: 60%;
 min-width: 270px;
 float: right;
 padding: 0px;
}

.today-item{
  background-color: #F68986;
  background: -webkit-linear-gradient(left top, #c33b8b, #ca6c79, #cf9e63); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c33b8b,#ca6c79, #cf9e63);
  min-width: 330px;
  width: 100%;
  height: 830px;
  margin: 10px;
  border-radius: 10px;
}


.today-item .item-body{
  height: 760px;
  background:transparent;
  padding: 10px;
}

.planning-container .month-item{
  width: 47%;
  margin: 10px !important;
}

/*** YEAR PAGE***/
.month-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
 height: 100%;
 width: 80%;
 margin:auto;
}

.planner-container{
  display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 height: 400px;
 margin: auto;
}



.month-item{
    background-color: #3b7fbe;
    background: -webkit-linear-gradient(left top, #399292, #356da2, #544e9c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #399292, #356da2, #544e9c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #399292, #356da2, #544e9c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #399292, #356da2, #544e9c);
    width: 20%;
    min-width: 250px;
    height: 330px;
    margin: 10px ;
    border-radius: 10px;
}

.planner-item{
  background-color: #F68986;
  background: -webkit-linear-gradient(left top, #c33b8b, #ca6c79, #cf9e63); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c33b8b,#ca6c79, #cf9e63); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c33b8b,#ca6c79, #cf9e63);
  width: 100%;
  min-width: 300px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
}




.item-header{
  height: 30px;
  background:transparent;
  text-align: center;
  padding-top: 5px;
  border-radius: 10px;
  color:#3f306d;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-size: 22px;
  font-weight: 600;
}

.planner-item .item-header{
  color:#611d45;
}

.item-body{
  height: 260px;
  background:transparent;
  padding: 10px;
  overflow: auto;
}
.input-row{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  height: 30px;
}

.del{
  width: 10%;
  min-width: 20px;
  float:right;
  height: 30px;
  padding-top: 5px;
  text-align: left;
  cursor: pointer;
}

.checkboxAndInput{
  float: left;
  width: 90% !important;
  height: 30px;
}

input.textBox{
  width: 92% !important;
  background: transparent;
  border: 0px;
  border-bottom: 1px dashed #fec76c;
  float:left;
  height: 30px;
  margin-left: 5px;
}

.planner-item input.textBox{
  width: 93% !important;
}

input.checkbox{
  width: 5% !important;
  min-width: 10px;
  background: transparent;
  float:left;
  height: 20px;
  margin: 5px auto !important;
}

input:focus{
  outline:0 !important;
  outline-width: 0 !important;
}

.item-footer{
  background: #fff;
  height: 40px;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
